.firstnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(197, 195, 195);
}

.secondnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.inputbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hovcard img {
    width: 100%;
}

#softwareimg {
    width: 1025px
}

.littleimg {
    width: 500px;
    margin-left: -30px
}

.right {
    margin-bottom: 20px
}

.rightfinal {
    margin-top: -20px
}