.firstnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(197, 195, 195);
}

.secondnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.inputbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hovcard img {
    width: 100%;
}

#softwareimg {
    width: 1025px
}

.littleimg {
    width: 500px;
    margin-left: -30px
}

.right {
    margin-bottom: 20px
}

.rightfinal {
    margin-top: -20px
}

.limitless {
    background-image: url(/img/Untitled-1-1-1-1-1.png);
    height: 600px
}

.limitext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
}

.limitext button {
    width: 100px;
}

.singlecours img {
    width: 100%;
}

.recentcoursesbutton {
    display: flex;
    justify-content: center;
}

.course {
    padding: 4rem;
    justify-content: center;
}

.textwecertificate {
    height: 550px;
    background-color: aliceblue;
}

.weproudimg {
    background-image: url(/img/we_proud.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aliceblue;
    height: 550px;
}

.datecount {
    margin: auto;
    text-align: center;
}

.greyborder {
    border-right: 1px solid silver;
}

.proudnewsletter {
    background-color: aquamarine;
    height: 250px;
}

.popularcours {
    background-color: aliceblue;
}

.businessicon {
    padding: 5rem;
}

.singlebusinessicon {
    border: 1px solid silver;

}